.place__paragraph {
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    margin: 0 0 26px 0;
}

.place__paragraph:last-of-type {
    margin: 0;
}

@media screen and (max-width: 768px){
    .place__paragraph {
        font-size: 16px;
    }
}

@media screen and (max-width: 400px){
    .place__paragraph {
        padding: 0 16px;
        margin-bottom: 25px;
    }
}